<!DOCTYPE html>
<html>
  <head>
    <title>Jewel Case</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('/favicon.ico', skip_pipeline: true) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
